html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

#canvas {
    position: absolute;
    margin: 0;
    zoom: 1;
}

#leds {
    display: block;
    height: 14px;
    margin-top:1px;
    margin-left:1px;
    margin-bottom: 1px;
}

#leds > div {
    display: inline-block;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-right: 1px;
    background: black;
}

button {
    cursor: pointer;
}
button:disabled {
    background:#999;
    cursor: not-allowed;
}